* {
    margin: 0;
    padding: 0;
}

body, input {
    font-size: 14px;
    font-family: "微软雅黑";
    color: #333;
}

a {
    color: #333;
    text-decoration: none
}

ul, ol, input, img, h1, h2, h3, h4, h5, h6 {
    list-style: none;
    border: 0;
    font-weight: normal;
    outline: none;
    resize: none;
}

span, i, em, a {
    display: inline-block;
    word-spacing: 0;
}

button {
    font-family: "微软雅黑";
}

/*word-spacing:-6px;在设置行块状的父标签，添加此属性*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.SystemAnnouncement {
    width: 315px;
    height: auto;
    border-radius: 3px;
    background: #fff;
    position: fixed;
    left: 50%;
    margin-left: -157px;
    top: 37%;
    box-shadow: 0 0 10px #333;
    z-index: 99;
}

.btn-x {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 17px;
    right: 20px;
}

.btn-x img {
    max-width: 100%;
    cursor: pointer;
}

.SystemAnnouncement h1 {
    width: 315px;
    height: 48px;
    background: #299BE4;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 48px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.SystemAnnouncement h2 {
    width: 260px;
    line-height: 24px;
    font-size: 16px;
    margin: 20px 0 0 28px;
    text-align: center;
}

.SystemAnnouncement h3 {
    width: 315px;
    line-height: 24px;
    font-size: 12px;
    margin: 0 0 10px 0;
    text-align: center;
}

.SystemAnnouncement h4 {
    width: 240px;
    font-size: 12px;
    text-align: left;
    margin: 0 0 0 40px;
    word-wrap: break-word;
    max-height: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/*.SystemAnnouncement h4 span{width: 24px;height: 10px;}*/
.SystemAnnouncement button {
    width: 110px;
    height: 35px;
    border-radius: 3px;
    background: #299BE4;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 15px 0 20px 105px;
}

.SystemAnnouncement button:hover {
    background: #50ADEA;
}
