{% extends 'course_base.html' %}
{% load staticfiles %}

{% block title %}<title>潭州课堂 - 全部课程</title>{% endblock %}

{% block course_filter %}
    <div class="allranking bgfff">
        <div class="fl w495">
            <a href=" " class="comran">综合排序</a>
            <a href="" id="isLive"><span class="rankchec "></span>正在上课</a>
            <a href="?price=0&sort_id={{ sort_id }}&class_id={{ class_id }}" id="free"><span class="rankchec {% ifequal price '0' %} checked {% endifequal %}"></span>免费公开课</a>
            <a href="?price=1&sort_id={{ sort_id }}&class_id={{ class_id }}" id="vip"><span class="rankchec {% ifequal price '1' %} checked {% endifequal %}"></span>VIP课程</a>
            <div class="fr total">
                <select class="total-text" id="sort" onchange="load()">
                    <option selected="selected" value="-1">按价格排序</option>
                    <option>总价从高到低</option>
                    <option value="asc">总价从低到高</option>
                </select>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}


{% block courseclass %}
    <div class="allmod onenav">
        <span>全部课程：</span>
        <a href="?class_id=" class="{% ifequal class_id '' %}comran cateLink{% endifequal %}" data-id="0">全部</a>

        {% for classes in course_class %}

            <a href="?class_id={{ classes.id }}" class="{% ifequal class_id classes.id|stringformat:'i' %}comran cateLink{% endifequal %}">

                {{ classes.get_name_display }}

            </a>

        {% endfor %}
    </div>
{% endblock %}

{% block coursesort %}
    <div class="allranking bgfff allnaviga">
        <a href=" " class="{% ifequal sort_id '' %}comran cateLink{% endifequal %}" data-id="">全部</a>

        {% for sort in course_sort %}
            <a href="?sort_id={{ sort.id }}&class_id={{ class_id }}" class="{% ifequal sort_id sort.id|stringformat:'i' %}comran cateLink{% endifequal %}">{{ sort.name }}</a>
        {% endfor %}

        <div class="clear"></div>
    </div>
       {% for leson in all_lesson %}

        <div>{{ leson.name }}</div>

    {% endfor %}

{% endblock %}

{% block courselist %}

    <div class="bgfff mh500">
        <div class="courseall">

            {% for course in all_course.object_list %}
                <div class="course-item w192 h240 fl">
                    <div class="courimg">
                        <!-- TODO添加详情页链接 -->
                        <a href="{% url 'course:details' course.id %}" target="_blank" class="cimg courtxt-img">
                            <img src="{{ MEDIA_URL }}{{ course.image }}"/>
                        </a>
                        <div class="cour-icon">

                            {% ifequal course.price 0 %}
                                <span class="publicimg"><img src="{% static 'images/public.png' %}"></span>
                            {% else %}
                                <span class="publicimg"><img src="{% static 'images/vip.png' %}"></span>
                            {% endifequal %}
                        </div>
                        <!-- TODO添加直播链接 -->

                        <a href="{% url 'course:details' course.id %}" target="_blank" class="clive live_status_true">上课中</a>
                        <div class="none" id="1852_cate_flase">
                            <a href="" class="clive">上课中</a>
                        </div>
                    </div>
                    <div class="item-line">
                        <div class="itemcont">
                            <a href=" " title="{{ course.name }}" target="_blank" class="ictxt">
                                {{ course.name }}
                            </a>
                        </div>
                        {% ifequal course.price 0 %}
                            <span class="green">
											免费
										</span>
                        {% else %}
                            <span class="red">
											{{ course.price }} 元
										</span>
                        {% endifequal %}


                        <a class="item-txt w112 fr"><span style="color: #888;">报名人数：</span>{{ course.nums }}人</a>
                    </div>
                    <div class="clear"></div>
                </div>
            {% endfor %}

        </div>
        <div class="clear"></div>
        <div id="pageTool"></div>
        <div class="clear"></div>
    </div>

{#        <div id="Paging_020368638260169325" class="ui-paging-container">#}
{#            <ul>#}
{#                <li class="js-page-first js-page-action ui-pager ui-pager-disabled">首页</li>#}
{#                <li class="js-page-prev js-page-action ui-pager ui-pager-disabled">上一页</li>#}
{#                <li data-page="1" class="ui-pager focus">1</li>#}
{#                <li data-page="2" class="ui-pager">2</li>#}
{#                <li class="js-page-next js-page-action ui-pager">下一页</li>#}
{#                <li class="js-page-last js-page-action ui-pager">末页</li>#}
{#            </ul>#}
{#        </div>#}


    {#   分页#}
    <div id="Paging_020368638260169325" class="ui-paging-container">
        <ul>
            {% if all_course.has_previous %}
                <li class="js-page-first js-page-action ui-pager">
                    <a href="?{{ all_course.first_page_number.querystring }}">首页</a></li>
                <li class="js-page-prev js-page-action ui-pager">
                    <a href="?{{ all_course.previous_page_number.querystring }}">上一页</a></li>
            {% endif %}

            {% for page in all_course.pages %}
                {% if page %}

                    {% ifequal page all_course.number %}
                        <li class="ui-pager focus"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                    {% else %}

                        <li class="ui-pager"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                    {% endifequal %}
                {% else %}
                    <li class="none"><a href="">...</a></li>
                {% endif %}
            {% endfor %}

            {% if all_course.has_next %}
                <li class="js-page-next js-page-action ui-pager">
                    <a href="?{{ all_course.next_page_number.querystring }}">下一页</a></li>
                <li class="js-page-last js-page-action ui-pager">
                    <a href="?page={{ all_course.paginator.num_pages }}">末尾</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block host_course %}
    <div class="fr">
        <div class="bgfff w285">
            <div class="all-title">
                <span>热门推荐</span>
            </div>

            {% for hcourse in hot_course %}
            <div class="course-item w253 bortop fl">
                <div class="courimg">
                    <a href="{% url 'course:details' hcourse.id %}" target="_blank" class="cimg">
                        <img src="{{ MEDIA_URL }}{{ hcourse.image }}"/>
                    </a>
                    {% ifequal hcourse.price 0 %}
                    <div class="cour-icon">
                        <span class="publicimg"><img src="{% static 'images/public.png' %}"></span>
                    </div>
                    {% else %}
                    <div class="cour-icon">
                        <span class="publicimg"><img src="{% static 'images/vip.png' %}"></span>
                    </div>
                    {% endifequal %}

                    <a href=" " target="_blank" class="clive live_status_true">上课中</a>
                    <div class="none" id="1576_cateHot_flase">
                    <a href=" " class="clive" value="1576">上课中</a>
                    </div>

                </div>
                <div class="item-line">
                    <div class="itemcont">
                        <a href=" " title="WEB前端0基础试听教室" target="_blank" class="ictxt">
                            {{ hcourse.name }}
                        </a>
                    </div>

                    {% ifequal hcourse.price 0 %}
                    <span class="green">
                                免费
                    </span>
                    {% else %}
                    <span class="red">
                                {{ hcourse.price }}
                    </span>
                    {% endifequal %}

                    <a class="item-txt w112 fr"><span style="color: #888;">报名人数：</span>{{ hcourse.nums }}人</a>
                </div>
                <div class="clear"></div>
            </div>
            {% endfor %}


            <div class="clear"></div>
        </div>
    </div>
    <div class="pageturn">
        <ul class="pagelist">
        </ul>
    </div>
{% endblock %}