{% extends 'my_base.html' %}
{% load staticfiles %}

{% block custom_css %}{% endblock %}
{% block title %}<title>潭州课堂 - 我的课程</title>{% endblock %}


{% block content %}
    <div class="content"><h1 class="contentTitle">我的课程表</h1>
                <div class="contentBody">
                    <div class="_24mIm"><a href="javascript:;">全部课程</a>
                        <ul>
                            <li class=""><a href="javascript:;">公开课</a></li>
                            <li class="_10fSl"><a href="javascript:;">VIP课</a></li>
                            <li class=""><a href="javascript:;">正在直播</a></li>
                        </ul>
                    </div>
                    <div class="_2pbWq">
                        <div class="_1Ac_A">
                            <div class="TE0cD">
                                <div class="_2QHbj"><a href="https://www.shiguangkey.com/course/1950" target="_blank"
                                                       class="_2OIyH"><img
                                        src="../static/img/file/201804/07/20180328160434134005047.png" alt="封面"><span
                                        class="_2E_Tb S02jn">VIP</span></a>
                                    <div class="_2b4RL"><a href="https://www.shiguangkey.com/course/1950"
                                                           target="_blank" class="_1Ngl7">潭州人工智能VIP第一期预科班</a>
                                        <div>
                                            <div class="_37vIc"><!-- react-text: 2585 -->开课时间：<!-- /react-text --><b>2018-04-08
                                                20:30</b></div>
                                            <div class="_37vIc"><!-- react-text: 2588 -->所在班期：
                                                <!-- /react-text --><b>1期</b></div>
                                        </div>
                                        <div class="dHKOd">
                                            <div class="_3FRy4" href="javascript:;"><!-- react-text: 2592 -->联系老师
                                                <!-- /react-text -->
                                                <ul>
                                                    <div class="_1Ac_A">
                                                        <div class="TE0cD">
                                                            <li><a href="javascript:;" class="_1ocyD">暂无联系方式</a></li>
                                                        </div>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_3fRfU"><span class="OsYjr"><span class="_3WJlz"></span></span><span><!-- react-text: 2602 -->开课提醒已
                                        <!-- /react-text --><!-- react-text: 2603 -->关闭<!-- /react-text --></span></div>
                                    <button class="_1Ncey">进入教室</button>
                                </div>
                                <div class="_2QHbj"><a href="https://www.shiguangkey.com/course/1832" target="_blank"
                                                       class="_2OIyH"><img
                                        src="../static/img/file/201804/07/20180308161251858507349.png" alt="封面"><span
                                        class="_2E_Tb S02jn">VIP</span></a>
                                    <div class="_2b4RL"><a href="https://www.shiguangkey.com/course/1832"
                                                           target="_blank" class="_1Ngl7">python 设计模式</a>
                                        <div><!-- react-text: 2612 --><!-- /react-text -->
                                            <div class="_37vIc"><!-- react-text: 2614 -->所在班期：
                                                <!-- /react-text --><b>已过期</b></div>
                                        </div>
                                        <div class="dHKOd">
                                            <div class="_3FRy4" href="javascript:;"><!-- react-text: 2618 -->联系老师
                                                <!-- /react-text -->
                                                <ul>
                                                    <div class="_1Ac_A">
                                                        <div class="TE0cD">
                                                            <li><a href="javascript:;" class="_1ocyD">暂无联系方式</a></li>
                                                        </div>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_3fRfU"><span class="OsYjr"><span class="_3WJlz"></span></span><span><!-- react-text: 2628 -->开课提醒已
                                        <!-- /react-text --><!-- react-text: 2629 -->关闭<!-- /react-text --></span></div>
                                    <button>已过期</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}" type="text/javascript"></script>
{% endblock %}

