{% extends 'my_base.html' %}
{% load staticfiles %}


{% block custom_css %}{% endblock %}

{% block title %}<title>潭州课堂 - 我的订单</title>{% endblock %}

{% block content %}
     <div class="content"><h1 class="contentTitle">我的订单</h1>
                <div class="contentBody">
                    <div class="_1BIHR"><span class="_1kpm2">课程信息</span><span class="_2xG08">价格</span><span
                            class="_2OfGX">状态</span><span class="_2UI19">操作</span></div>
                    <div class="FlSqL">
                        <div class="_1Ac_A">
                            <div class="TE0cD">
                                <div class="_2ccbj">
                                    <div class="LjeW0"><span class="_3iTCv"><!-- react-text: 179 -->订单号：
                                        <!-- /react-text --><!-- react-text: 180 -->D20180331000676770837
                                        <!-- /react-text --><!-- react-text: 181 --> <!-- /react-text --></span><span
                                            class="_142AJ"><!-- react-text: 183 -->下单时间：<!-- /react-text -->
                                        <!-- react-text: 184 -->2018-03-31 20:21:50<!-- /react-text --></span><span
                                            class="_1pHKV"><!-- react-text: 186 -->订单类型：<!-- /react-text -->
                                        <!-- react-text: 187 -->线下订单<!-- /react-text --></span></div>
                                    <div class="_2dA04">
                                        <div class="_2vJeD">
                                            <div class="_2o3Wv"><img src="../static/img/file/201804/07/20180328160434134005047.png"
                                                                     alt="订单图片"><span>潭州人工智能VIP第一期预科班</span></div>
                                        </div>
                                        <div class="_1ZcZx">
                                            <div class="DVWkA"><!-- react-text: 195 -->原价：<!-- /react-text -->
                                                <!-- react-text: 196 -->368.00<!-- /react-text -->
                                                <!-- react-text: 197 -->元<!-- /react-text --></div>
                                            <div class="HsEK4"><!-- react-text: 199 -->实付：<!-- /react-text -->
                                                <!-- react-text: 200 -->368.00<!-- /react-text -->
                                                <!-- react-text: 201 -->元<!-- /react-text --></div>
                                        </div>
                                        <div class="_2eWV1"><span>已支付</span></div>
                                        <div class="qyb1R"><a href="javascript:;" class="_2YL7s">删除订单</a></div>
                                    </div>
                                </div>
                                <div class="_2ccbj">
                                    <div class="LjeW0"><span class="_3iTCv"><!-- react-text: 209 -->订单号：
                                        <!-- /react-text --><!-- react-text: 210 -->D20180308000282246795
                                        <!-- /react-text --><!-- react-text: 211 --> <!-- /react-text --></span><span
                                            class="_142AJ"><!-- react-text: 213 -->下单时间：<!-- /react-text -->
                                        <!-- react-text: 214 -->2018-03-08 19:56:42<!-- /react-text --></span><span
                                            class="_1pHKV"><!-- react-text: 216 -->订单类型：<!-- /react-text -->
                                        <!-- react-text: 217 -->线下订单<!-- /react-text --></span></div>
                                    <div class="_2dA04">
                                        <div class="_2vJeD">
                                            <div class="_2o3Wv"><img src="../static/img/file/201804/07/20180308161251858507349.png"
                                                                     alt="订单图片"><span>python 设计模式</span></div>
                                        </div>
                                        <div class="_1ZcZx">
                                            <div class="DVWkA"><!-- react-text: 225 -->原价：<!-- /react-text -->
                                                <!-- react-text: 226 -->299.00<!-- /react-text -->
                                                <!-- react-text: 227 -->元<!-- /react-text --></div>
                                            <div class="HsEK4"><!-- react-text: 229 -->实付：<!-- /react-text -->
                                                <!-- react-text: 230 -->299.00<!-- /react-text -->
                                                <!-- react-text: 231 -->元<!-- /react-text --></div>
                                        </div>
                                        <div class="_2eWV1"><span>已支付</span></div>
                                        <div class="qyb1R"><a href="javascript:;" class="_2YL7s">删除订单</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}" type="text/javascript"></script>
{% endblock %}

